/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
	font-family: 'Poppins', sans-serif;
}
/*--header --*/
html
{
overflow-x: hidden;
	font-size: 100%;
	scroll-padding-top: 7rem;

}

header{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 10px 190px;
	margin-top: 50px;
	margin-left: 50px;
}
header .logo{
	position: relative;
font-size: 1.5em;
font-style: italic;
color: red;
text-decoration: none;
font-weight: 1000;
padding-left: 60px;
padding-top: 30px;
}
header span{
	color: black;
}
header .navbar ul{
	display: flex;
	flex-direction: row;
	gap: 25px;
	padding: 30px 0 0 0;
}
header .navbar ul li{

list-style: none;
text-transform: uppercase;
}
header .navbar ul li a{
	text-decoration: none;
	color: black;
	font-size: 10px;
	font-family: sans-serif;
}

header .navbar ul li a:hover{
	color: red;
	transition: 0.3s ease;
}
 header .navbar ul li .button{
	background-color: #F00E2C;
	color: white;
	width: 200px;
	height: 37px;
	border: none;
	text-transform: uppercase;
	border-radius:2px;
	padding: 10px 14px;
	margin-right: 55px;
	font-size: 10px;
	font-family: sans-serif;

}

 header .navbar ul li .button:hover{
 	color: white;
 	background-color:#CE0621 ;
 	transition: 0.3s ease;
 }


/*--------main-----*/
main .home {
	width: 94%;
	height: 600px;
background-image: url(Images/home.png);
background-repeat: no-repeat;
background-size: cover;
margin:150px 50px;
}
main .home article{
	margin-left: 100px;
	margin-bottom: 200px;
}
main .home article .heading{
	color: white;
	text-transform: uppercase;
	padding-left: 200px;
	padding-top: 150px;
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 20px;
	line-height: 30px;
}
main .home article p{
	color:white;
	padding-bottom: 50px;
	font-size: 14px;
	font-weight:300;
	padding-left: 200px;
	padding-bottom: 40px;
	width:450px;
	line-height: 18px;
}
main .home article ul{
	display: flex;
	flex-direction: row;
	gap: 50px;
	margin-left: 200px;

}
main .home article ul li{
color: white;
list-style: none;
margin-top: 185px;
font-weight: normal;
font-size: 16px;
}
main .home article .button{
	background-color: #F00E2C;
	color: white;
	width: 200px;
	height: 37px;
	border: none;
	text-transform: uppercase;
	border-radius:1px;
	margin-left: 200px;
	padding: 10px 18px;
	text-decoration: none;
	font-size: 10px;
	font-family: sans-serif;

}

#desktop{
	display:flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: nowrap;
}

#desktop img{
	margin-left: 200px;
	width: 400px;
	height: 300px;
}
 #desktop p span {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 600;
display: block;
padding-top: 30px;
padding-bottom: 35px;
color: black;
}
 #desktop p{
 	width: 370px;
 	font-size: 12px;
 	color: #7E7E7E;
 }
 #desktop p .button{
	background-color: #F00E2C;
	color: white;
	width: 150px;
	height: 30px;
	border: none;
	text-transform: uppercase;
	border-radius:2px;
	padding: 9px 14px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-top: 35px;
	font-size: 8px;
	font-family: sans-serif;
	font-weight: 700;
	vertical-align: middle;
}
/*rregullimi me CSS i logove te paraqitura me ane te imazheve*/
.logo-image img{
	width: 80px;
	height: 80px;
}
.logo-image{
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-left: 350px;
	gap: 90px;
	margin-top: 100px;
}
/*rregullimi i pjeses meet the distributor*/
.laptop{
	width: 80%;
	margin: 150px;
	margin-left: 200px;
}
.laptop table tr td{
	padding: 20px;
}
.laptop table tr td p{
	width: 380px;
}
.laptop table tr td #p1{
	font-size: 18px;
	font-weight: 700;
	font-family: sans-serif;
	text-transform: uppercase;
margin-bottom: 30px;
}
.laptop table tr td .p2{
	margin-bottom: 20px;
	font-size: 12px;
	color: #7E7E7E;
}
.laptop table tr td .button{
	background-color: #F00E2C;
	color: white;
	width: 180px;
	height: 30px;
	border: none;
	text-transform: uppercase;
	border-radius:2px;
	padding: 9px 14px;
	text-decoration: none;
	font-size: 8px;
	font-family: sans-serif;
	font-weight: normal;
}

/*kodi ne CSS per pjesen who we serve ne webfaqe*/
.serve{
width: 100%;

}
.serve article{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 50px;
	margin-top: 50px;
	margin-left: 300px;

}
.serve #p3{
	font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.serve .p4{
	font-family: sans-serif;
	font-size: 12px;
    width: 380px;
    margin-top: 30px;
    margin-left: 500px;
    color: #7E7E7E;
}
.serve .p5{
	font-family: sans-serif;
	font-size: 12px;
    width: 450px;
    margin-left: 480px;
    color: #7E7E7E;
}
.serve article figure{
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.serve article figure img{
	width: 80px;
	height: 80px;
}
.serve article figure figcaption{
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	margin-top: 15px;
}
/*kodi ne CSS per pjesen e webfaqes WHATS NEW*/

.whats-new .whats{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 80px;
}

}
figure{
	margin: 0;
	padding: 0;
}
.card{
	background: white;
	margin-bottom: 32px;
	padding: 0;
}
.card-content p{
	padding: 0.5em 1.5em 0 1.5em;
	font-size: 13px;
	color:#7E7E7E;
	margin-bottom: 30px;
}
.card-content .p-calendar span{
margin-left: 20px;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.card{
	width: calc((100%/4) - 1%);
	padding: 10px;
	border: 1px solid #F6F6F6;

}
.cards{
	display: flex;
	justify-content:center;
	flex-wrap:wrap ;
}

img{
	max-width: 100%;
}
.card img:hover{
	filter: saturate(200%);
}
.card-content .read-button{
color: red;
text-decoration: none;
text-transform:uppercase;
font-size: 12px;
font-family: sans-serif;
vertical-align: middle;
margin-left: 20px;
}
.card-content .read-button i{
	margin-left: 150px;
	color: black;
}
.card-content{
margin-top: 20px;
}
.card:hover{
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}
.card-content .heading-1{
	color: black;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	margin-bottom: 0;
}
.card-content .p-calendar{
	color:#7E7E7E;
	font-size: 12px;
	font-family: sans-serif;
	margin-bottom: 0;
}
.border-button{
	border-top: 1px solid #e6e6e6;
	padding-top:15px;

}
